{% extends 'base.html' %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; min-height: calc(95vh - 100px); padding: 15px; box-sizing: border-box;">
    <div class="w3-card-4 w3-padding" style="background-color: #373a36; max-width: 400px; width: 100%;">
        <h3 class="w3-center w3-text-orange">ADMIN LOGIN</h3>
        
        <form method="POST" action="{{ url_for('admin_login') }}">
            <p>
                <input type="email" name="email" class="w3-input w3-border" placeholder="email" required>
            </p>
            <p>
                <input type="password" name="password" class="w3-input w3-border" placeholder="********" required>
            </p>
            <p class="w3-right">
                <button type="submit" class="w3-button w3-round" style="background-color: #d48166; color: rgba(255, 255, 255, 0.747); min-width: 100px;">LOGIN</button>
            </p>
            <br><br>
        </form>
    </div>
</div>
{% endblock %}
