<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <title>Python(20420) 10:30 - 12:01 MW</title>
</head>
<body>
    <div class="w3-bar w3-indigo w3-padding" style="position: sticky; top: 0;">
        <span class="w3-bar-item"><b>Python(20420) 10:30 - 12:01 MW</b></span>
        {% block navbar_right %}
        {% endblock %}
    </div>
    <div class="w3-container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="w3-container w3-padding">
        <center>
            <hr/>
            Copyright &copy; Barney and Friend, 2025
        </center>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>